{% extends 'base.html' %}
{% load app_extras %}

{% block title %}
    Cadastro de Advogados
{% endblock %}
{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Cadastro de Adovgado
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form role="form" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Nome</label>
                                            {{ form.nome_advogado|addcss:"form-control"}}
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label>
                                            {{ form.email|addcss:"form-control"}}
                                        </div>

                                        <div class="form-group">
                                            <label>CPF</label>
                                            {{ form.cpf|addcss:"form-control"}}
                                        </div>

                                        <button type="submit" class="btn btn-primary">Gravar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>

            <!-- Data Table -->
            <hr />

            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Advogados
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>CPF</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for adv in advogados %}
                                    <tr class="odd gradeX">
                                        <td>{{ adv.id }}</td>
                                        <td>{{ adv.nome_advogado }}</td>
                                        <td>{{ adv.email }}</td>
                                        <td>{{ adv.cpf }}</td>
                                        <td class="center">4</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>

{% endblock %}