{% extends 'base.html' %}
{% load app_extras %}

{% block title %}
    Cadastro de Ordem de Serviço
{% endblock %}
{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edição do Cadastro de Ordem de Serviço
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form role="form" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Empresa</label>
                                                {{ form.empresa|addcss:"form-control" }}
                                        </div>

                                        <div class="form-group">
                                            <label>Título</label>
                                            {{ form.titulo|addcss:"form-control"}}
                                        </div>

                                        <div class="form-group">
                                            <label>Descrição</label>
                                            {{ form.descricao|addcss:"form-control"}}
                                        </div>

                                        <input type="button" class="btn btn-info" value="Voltar" onClick="history.go(-1)">
                                        <button type="submit" class="btn btn-primary">Gravar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}