{% extends 'base.html' %}
{% load app_extras %}

{% block title %}
    Cadastro de Proposta
{% endblock %}
{% block content %}
    <div id="page-wrapper" >
        <div id="page-inner">
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Propostas para Ordem de Serviço
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form role="form" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Ordem de Servico:</label>
                                            {{ ordem.titulo }}
                                        </div>

                                        <div class="form-group">
                                            <label>Descrição:</label>
                                            {{ ordem.descricao }}
                                        </div>

                                        <div class="form-group">
                                            <label>Fazer Proposta com o Advogado</label>
                                            {{ form.advogado|addcss:"form-control"}}
                                        </div>

                                        <div class="form-group">
                                            <label>Valor da Proposta R$</label>
                                            {{ form.valor_proposta|addcss:"form-control"}}
                                        </div>

                                        <input type="button" class="btn btn-info" value="Voltar" onClick="history.go(-1)">
                                        <button type="submit" class="btn btn-primary">Gravar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Form Elements -->
                </div>
            </div>
{% endblock %}